body{
    font-size:1.7rem;
}
.navbar {
    padding: 3rem;
     @media (max-width: 848px){
        padding: 3rem 1rem;
    }
    form {
        width: 70%;
        max-width: 1000px;
        margin: 0 auto;
        @media (max-width: 848px){
            width: 100%;
        }
    }
}
.container {
    display: -ms-flexbox;
    display: flex;
    padding-top: 4rem;
    max-width: 1200px;
    width: 100%;
    @media (max-width: 848px){
        display: block;
    }
    main{
        display: -ms-flexbox;
        display: flex;
        flex:1;
        justify-content:center;
        @media (max-width: 650px){
            display: block;
        }
        svg {
            @media (max-width: 650px){
                display: block;
                margin: 0 auto;
            }
            path, line {
                stroke : #9d9d9d;
            }
            text {
                stroke : #444;
                font-weight: 200;
            }
        }
    }
    .selected-city{
        max-width: 300px;
        margin-right: 5rem;
        margin-top: 5rem;
        @media (max-width: 650px){
            margin: 0 auto;
        }
        .btn {
            margin: 1.5rem auto;
            display: table;
        }
        ul{
            list-style-type	:none;
            padding: 2rem;
            border: 1px solid #ddd;
            border-radius: 5px;
            background-color: rgba(222, 222, 222, 0.25); 
            .name {
                font-size: 2rem;
                font-weight: bold;
            }
            .temp {
                text-align: center;
                font-size: 2.5rem;
                font-weight: bold;
                padding: 1rem 0;
            }
            .title{
                min-width: 95px;
                display: inline-block;
            }
        }
    }
    .last-cities{
        min-width: 200px;
        .title {
            font-weight: 500;
        }
        ul{
            list-style-type	:none;
            margin-top: 1rem;
            padding: 0;
            border: 1px solid #ddd;
            border-radius: 4px;
            li{
                cursor: pointer;
                padding: .7rem 1.2rem;
                &:nth-child(even){
                    background-color: rgba(222, 222, 222, 0.25);
                }
                &:hover {
                    background: darken(rgba(222, 222, 222, 0.25), 10%);
                    -webkit-transition: background-color .3s;
                    transition : background-color .3s;
                    
                }
            }
        }
    }
    .forecast {
        p {
            text-align: center;
            font-weight: 500;
            margin-bottom: .5rem;
            &.description {
                font-size: 1.3rem;
                font-weight: 200;
                font-style: italic;
            }
        }
        .buttons {
            display: table;
            margin: 1rem auto;
            .btn {
                margin-right: .2rem;
            }
        }
    }
    .flag {
        margin-left: .5rem;
    }
}
